<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ajax 통신</title>
</head>
<body>
<label> 제조사</label>
     <select id="maker">
       <option>선택하세요</option>
       <option>BMW</option>
       <option>AUDI</option>
       <option>BENZ</option>
     </select>
      <label>차종</label>
      <select id="kind">
           <option>선택하세요</option>
      </select>

<hr/>
      <button id ="apiBtn">open api button</button>
      <div id="open_api">
         <!-- <div>
              <h2>first_name</h2>
              <img src="avatar">
          </div>-->
      </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  $(document).ready(function(){
       //window.alert('load event')
    $('#maker').change(function(){
      //window.alert($('#maker').val())
       $.ajax({
          url : '../maker/',
          type : 'post' ,
          data : { 'csrfmiddlewaretoken' : '{{csrf_token}}','maker' : $('#maker').val() },
          dataType : 'json',
          success : function(lst) {
             window.alert('success')
             //window.alert(lst[0]['data'])
             $.each(lst, function(idx, obj){
               //console.log(obj.maker)
               txt=''
               $.each(obj.data, function(idx, kind){
                 txt += '<option>'+kind+'</option>'
               })
               window.alert(txt)
               $('#kind').empty().html(txt)
             })
          }
       })

    })
     //

    $('#apiBtn').click(function(){
       $.ajax({
          url : 'https://reqres.in/api/users',
          dataType : 'json',
          success : function(dict) {
                  txt=''
               $.each(dict.data , function(idx, obj){
                 //window.alert(first_name)
                   txt += '<div><h2>'+obj.first_name+'</h2>'
                   txt += "<img src='"+obj.avatar+"'></div>"
               })
               //dict.data.first_name
               window.alert(txt)
               $('#open_api').html(txt)
             }
          })

    })




  })

</script>
</body>
</html>


